# Azure Functions local settings
functions/local.settings.json

# Azurite local storage data
functions/__blobstorage__/
functions/__queuestorage__/
functions/__azurite_db_blob__.json
functions/__azurite_db_blob_extent__.json
functions/__azurite_db_queue__.json
functions/__azurite_db_queue_extent__.json
functions/__azurite_db_table__.json
functions/__azurite_db_table_extent__.json

# Node
functions/node_modules/
frontend/node_modules/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
terraform.tfvars

# Frontend deployment output
frontend/deploy/